<div class="instagram-odoo-mint" data-widget-id="{{ block.settings.widget_id }}"></div>

{% schema %}
  {
    "name": "Live Widget",
    "target": "section",

    "settings": [
        { "label": "Widget ID", "id": "widget_id", "type": "text"}
    ]
  }
{% endschema %}
